
WelcomeToSwift.xcodeproj/xcuserdata/vlad.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WelcomeToSwift.xcodeproj/xcuserdata/vlad.xcuserdatad/xcschemes/xcschememanagement.plist
WelcomeToSwift.xcodeproj/project.xcworkspace/xcuserdata/vlad.xcuserdatad/UserInterfaceState.xcuserstate
WelcomeToSwift.xcodeproj/project.pbxproj
