
WelcomeToSwift.xcodeproj/project.pbxproj
WelcomeToSwift.xcodeproj/project.xcworkspace/xcuserdata/vlad.xcuserdatad/UserInterfaceState.xcuserstate
WelcomeToSwift.xcodeproj/xcuserdata/vlad.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.pbxproj
